@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Layout for admin dashboar */
*,
::after,
::before {
    /* box-sizing: border-box; */
}

/* body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  opacity: 1;
  overflow-y: scroll;
  margin: 0;
}


.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  color: #222831;
  background-color: white;
  transition: all 0.35s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background-color: #f2f2f2;
}

.content {
  flex: 1;
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
} */
